.search
      %span.search_item.is-active{"data-group" => ""} ALL
      %span.search_item{"data-group" => "a"} 北海道
      %span.search_item{"data-group" => "b"} 東北
      %span.search_item{"data-group" => "c"} 関東
      %span.search_item{"data-group" => "d"} 中部
      %span.search_item{"data-group" => "e"} 近畿
      %span.search_item{"data-group" => "f"} 中国
      %span.search_item{"data-group" => "g"} 四国
      %span.search_item{"data-group" => "h"} 九州
%ul.list
      %li.list_item{"data-group" => "a"} 北海道
      %li.list_item{"data-group" => "b"} 青森県
      %li.list_item{"data-group" => "b"} 秋田県
      %li.list_item{"data-group" => "b"} 宮城県
      %li.list_item{"data-group" => "b"} 岩手県
      %li.list_item{"data-group" => "b"} 山形県
      %li.list_item{"data-group" => "b"} 福島県
      %li.list_item{"data-group" => "c"} 茨城県
      %li.list_item{"data-group" => "c"} 栃木県
      %li.list_item{"data-group" => "c"} 埼玉県
      %li.list_item{"data-group" => "c"} 千葉県
      %li.list_item{"data-group" => "c"} 東京都
      %li.list_item{"data-group" => "c"} 神奈川県
      %li.list_item{"data-group" => "d"} 新潟県
      %li.list_item{"data-group" => "d"} 富山県
      %li.list_item{"data-group" => "d"} 石川県
      %li.list_item{"data-group" => "d"} 福井県
      %li.list_item{"data-group" => "d"} 山梨県
      %li.list_item{"data-group" => "d"} 長野県
      %li.list_item{"data-group" => "d"} 岐阜県
      %li.list_item{"data-group" => "d"} 静岡県
      %li.list_item{"data-group" => "d"} 愛知県
      %li.list_item{"data-group" => "e"} 三重県
      %li.list_item{"data-group" => "e"} 滋賀県
      %li.list_item{"data-group" => "e"} 京都府
      %li.list_item{"data-group" => "e"} 大阪府
      %li.list_item{"data-group" => "e"} 兵庫県
      %li.list_item{"data-group" => "e"} 奈良県
      %li.list_item{"data-group" => "e"} 和歌山県
      %li.list_item{"data-group" => "f"} 鳥取県
      %li.list_item{"data-group" => "f"} 島根県
      %li.list_item{"data-group" => "f"} 岡山県
      %li.list_item{"data-group" => "f"} 広島県
      %li.list_item{"data-group" => "f"} 山口県
      %li.list_item{"data-group" => "g"} 徳島県
      %li.list_item{"data-group" => "g"} 香川県
      %li.list_item{"data-group" => "g"} 愛媛県
      %li.list_item{"data-group" => "g"} 高知県
      %li.list_item{"data-group" => "h"} 福岡県
      %li.list_item{"data-group" => "h"} 佐賀県
      %li.list_item{"data-group" => "h"} 長崎県
      %li.list_item{"data-group" => "h"} 熊本県
      %li.list_item{"data-group" => "h"} 大分県
      %li.list_item{"data-group" => "h"} 宮崎県
      %li.list_item{"data-group" => "h"} 鹿児島県
      %li.list_item{"data-group" => "h"} 沖縄県