%ul.hList
  %li
    %a.menu{:href => 'https://travel.rakuten.co.jp/mytrip/ranking/spot-hokkaido/#area1'}
      %h2.menu-title 北海道
      %ul.menu-dropdown
        %li 北海道
  %li
    %a.menu{:href => "#click"}
      %h2.menu-title.menu-title_2nd 東北地方
      %ul.menu-dropdown
        %li 青森県
        %li 秋田県
        %li 岩手県
        %li 宮城県
        %li 山形県
        %li 福島県

  %li
    %a.menu{:href => "#click"}
      %h2.menu-title.menu-title_3rd 関東地方
      %ul.menu-dropdown
        %li 茨城県
        %li 栃木県
        %li 埼玉県
        %li 千葉県
        %li 東京都
        %li 神奈川県
      
  %li
    %a.menu{:href => "#click"}
      %h2.menu-title.menu-title_4th 中部地方
      %ul.menu-dropdown
        %li 新潟県
        %li 富山県
        %li 石川県
        %li 福井県
        %li 山梨県
        %li 長野県
        %li 岐阜県
        %li 静岡県

  %li
    %a.menu{:href => "#click"}
      %h2.menu-title.menu-title_5th 近畿地方
      %ul.menu-dropdown
        %li 愛知県
        %li 三重県
        %li 滋賀県
        %li 京都府
        %li 大阪府
        %li 兵庫県
        %li 奈良県
        %li 和歌山県
        
  %li
    %a.menu{:href => "#click"}
      %h2.menu-title.menu-title_6th 中国地方
      %ul.menu-dropdown
        %li 鳥取県
        %li 島根県
        %li 岡山県
        %li 広島県
        %li 山口県

  %li
    %a.menu{:href => "#click"}
      %h2.menu-title.menu-title_7th 四国地方
      %ul.menu-dropdown
        %li 徳島県
        %li 香川県
        %li 愛媛県
        %li 高知県
  
  %li
    %a.menu{:href => "#click"}
      %h2.menu-title.menu-title_8th 九州地方
      %ul.menu-dropdown
        %li 福岡県
        %li 佐賀県
        %li 長崎県
        %li 熊本県
        %li 大分県
        %li 宮崎県
        %li 鹿児島県
        %li 沖縄県