.head
  %link{:href => "https://fonts.googleapis.com/css?family=Kosugi+Maru|Permanent+Marker&display=swap", :rel => "stylesheet"}/
.header
  .header__logo
    Tourist attractions
  .header__logout
    ログアウト
   
.contents
  .contents__message
    = render 'sub'
  -#   = render 'result'
.footer
  