.header {
  height: 90px;
  border-bottom:30px solid rgb(87, 178, 214);
  background-color: skyblue;
  color: grey;
  font-family: 'Permanent Marker', cursive;
  &__logo {
    text-align: center;
    font-size: 50px;
    line-height: 90px;
  }
  &__logout {
    float: right;
    font-size: 15px;
    color: dimgrey;
  }
}

.contents {
  height: 600px;
  width: 100%;
  background: url(https://cdn.pixabay.com/photo/2018/08/17/19/19/view-panoramiique-3613608_1280.jpg
  ); 
  background-size:  cover;  
  
  &__message {
    width: 100%;
    font-size: 20px;
    color: black;
    padding: 0 130px;
    word-spacing: 50px;
    font-family: 'Kosugi Maru', sans-serif;
    line-height: 30px;
    text-align: center;
  } 
  // overflow: scroll;
}
.footer {
  height: 100px;
  width: 100%;
  background-color: skyblue;
  position: fixed;
}

