html {
  height: 100%;
  background-color: #f8f8f8;
}
body {
  overflow: hidden;
  height: 100%;
  margin: 0 auto;
  background-color: #ffffff;
  font-family: 'Roboto', sans-serif;
  color: #555555;
}
a {
  text-decoration: none;
  color: inherit;
}
$menu_WIDTH: 150px;

.menu {
  display: block;
  position: relative;
  cursor: pointer;
}

.menu-title {
  display: block;
  width: $menu_WIDTH;
  height: 40px;
  padding: 12px 0 0;
  background: #9966FF;
  text-align: center;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  transition: 0.3s background-color;
}

.menu-title:before {
  content: "";
  display: block;
  height: 0;
  border-top: 5px solid #9966FF;
  border-left: ($menu_WIDTH / 2) solid transparent;
  border-right: ($menu_WIDTH / 2) solid transparent;
  border-bottom: 0 solid #dddddd;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 101;
  transition:
    0.2s 0.2s border-top ease-out,
    0.3s border-top-color;
}

.menu-title:hover { background: #9966FF; }
.menu-title:hover:before { border-top-color: #9966FF; }

.menu:hover > .menu-title:before {
  border-top-width: 0;
  transition:
    0.2s border-top-width ease-in,
    0.3s border-top-color;
}

.menu-title:after {
  content: "";
  display: block;
  height: 0;
  border-left: ($menu_WIDTH / 2) solid transparent;
  border-right: ($menu_WIDTH / 2) solid transparent;
  border-bottom: 0 solid #ebebeb;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 101;
  transition: 0.2s border-bottom ease-in;
}

.menu:hover > .menu-title:after {
  border-bottom-width: 5px;
  transition: 0.2s 0.2s border-bottom-width ease-out;
}

.menu-title_2nd { background: #0099FF; }
.menu-title_2nd:hover { background: #0099FF; }
.menu-title_2nd:before { border-top-color: #0099FF; }
.menu-title_2nd:hover:before { border-top-color: #0099FF; }

.menu-title_3rd { background: #00FFFF; }
.menu-title_3rd:hover { background: #00FFFF; }
.menu-title_3rd:before { border-top-color: #00FFFF; }
.menu-title_3rd:hover:before { border-top-color: #00FFFF; }

.menu-title_4th { background: #33FF33; }
.menu-title_4th:hover { background: #33FF33; }
.menu-title_4th:before { border-top-color: #33FF33; }
.menu-title_4th:hover:before { border-top-color: #33FF33; }

.menu-title_5th { background: #CCFF00; }
.menu-title_5th:hover { background: #CCFF00; }
.menu-title_5th:before { border-top-color: #CCFF00; }
.menu-title_5th:hover:before { border-top-color: #CCFF00; }

.menu-title_6th { background: #dbab58; }
.menu-title_6th:hover { background: #cb9b48; }
.menu-title_6th:before { border-top-color: #dbab58; }
.menu-title_6th:hover:before { border-top-color: #cb9b48; }

.menu-title_7th { background: #CC9999; }
.menu-title_7th:hover { background: #CC9999; }
.menu-title_7th:before { border-top-color: #CC9999; }
.menu-title_7th:hover:before { border-top-color: #CC9999; }

.menu-title_8th { background: #FF6666; }
.menu-title_8th:hover { background: #FF6666; }
.menu-title_8th:before { border-top-color: #FF6666; }
.menu-title_8th:hover:before { border-top-color: #FF6666; }

.menu-dropdown {
  min-width: 100%;
  padding: 15px 0;
  position: absolute;
  background: #ebebeb;
  z-index: 100;
  transition:
    0.5s padding,
    0.5s background;
}

.menu-dropdown:after {
  content: "";
  display: block;
  height: 0;
  border-top: 5px solid #ebebeb;
  border-left: ($menu_WIDTH / 2) solid transparent;
  border-right: ($menu_WIDTH / 2) solid transparent;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 101;
  transition: 0.5s border-top;
}

.menu:not(:hover) > .menu-dropdown {
  padding: 4px 0;
  background: #dddddd;
  z-index: 99;
}

.menu:not(:hover) > .menu-dropdown:after {
  border-top-color: #dddddd;
}

.menu:not(:hover) > .menu-title:after {
  border-bottom-color: #dddddd;
}

.menu-dropdown > * {
  overflow: hidden;
  height: 30px;
  padding: 5px 10px;
  background: rgba(0,0,0,0);
  white-space: nowrap;
  transition: 
    0.5s height cubic-bezier(.73,.32,.34,1.5),
    0.5s padding cubic-bezier(.73,.32,.34,1.5),
    0.5s margin cubic-bezier(.73,.32,.34,1.5),
    0.5s 0.2s color,
    0.2s background-color;
}

.menu-dropdown > *:hover {
  background: rgba(0,0,0,0.1);
}

.menu:not(:hover) > .menu-dropdown > * {
  visibility: hidden;
  height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  color: rgba(25,25,25,0);
  transition: 
    0.5s 0.1s height,
    0.5s 0.1s padding,
    0.5s 0.1s margin,
    0.3s color,
    0.6s visibility;
  z-index: 99;
}

.hList > * {
  float: left;
}

.hList > * + * {
  margin-left: 0;
}